<router-outlet></router-outlet>
<div style="position:absolute; bottom:15px; left: 10px; width:80vw; text-align:center">
    Runepicker Helper isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
</div>
<div class="status-icons">
  <div class="backend">
    <span class="icon" [ngClass]="{'disconnected':!socketConnected}">
      <img src="assets/various/icon.jpg" alt="Signals if backend is available">
    </span>
  </div>
  <div class="electron">
    <span *ngIf="lcu.isAvailable()" [ngClass]="{'disconnected':!lcu.isConnected()}">
      <img src="assets/various/lol-logo.png" alt="Signals if LCU is connected!">
    </span>
    <span *ngIf="!lcu.isAvailable()">
      <a target="_blank" href="{{environment.electronDownloadPath}}">
        <img src="assets/various/downloadElectron.png" alt="Download our electron app!">
      </a>
    </span>
  </div>
</div>
