<div id="wrapper" class="full-screen">
  <div class="inner-wrapper">
    <div class="perks">
      <div class="perk-row" *ngFor="let row of perks; let i = index">
        <span>{{getRowTitle(i)}}</span>
        <div class="perks">
          <div class="perk" *ngFor="let perk of keys(row)"
            [ngClass]="{'highest':getMax(row) == perk, 'selected':selectedPerks[i] == perk,'keystone':staticData.isKeystone(perk)}"
            (click)="selectedPerks[i] = perk">
            <perk [perk]="perk"></perk>
          </div>
        </div>
      </div>
    </div>
    <button class="btn" (click)="continue()" [style.color]="getColor()" [style.border-color]>Continue</button>
  </div>
</div>
