<div id="wrapper" class="full-screen">
  <div class="inner-wrapper">
    <h1>{{title}}</h1>
    <p class="into big">
        We would recommend the runes selected below. If you don't agree with this selection, you can change it by clicking on the other runes.
      </p>    
    <div class="perks">
      <div class="perk-row spacing-vertical" [ngStyle]="{'z-index':10-i}" *ngFor="let row of perks; let i = index">
        <span class="{{getKeyStoneClass(i)}}"><b>{{getRowTitle(i)}}</b></span>
        <div class="perks" style="z-index:inherit" >
          <div class="perk spacing-horizontal" *ngFor="let perk of keys(row)"
            [ngClass]="{'highest':getMax(row) == perk, 'selected':selectedPerks[i] == perk,'keystone':staticData.isKeystone(perk)}"
            (click)="selectedPerks[i] = perk">
            <perk [perk]="perk" [predicted]="getMax(row) == perk"></perk>
          </div>
        </div>
      </div>
    </div>
    <button class="btn spacing-vertical" (click)="continue()" [style.color]="getColor()" [style.border-color]>Continue</button>
  </div>
</div>
