.lane-select{
  width: 100px;
  cursor: pointer;
}

.lane-select.disabled{
  cursor: not-allowed;
}

.lane-image{
  position: relative;
}

.lane-border{
  width: 100%;
}

.lane-icon{
  position:absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: filter ease-in-out 500ms;
}

.lane-icon:hover{
  filter: saturate(3);
}
