<div id="wrapper" class="full-screen">
  <div id="rune-page" [style.background-image]="getBackground()" [style.border-color]="getPrimaryColor()">
    <section class="header">

    </section>
    <section class="content">
      <section class="path primary">
        <path-header [path]="primaryStyle"></path-header>
        <page-perk [perk]="get(primaryRunes,0)" [path]="primaryStyle" [keystone]="true"></page-perk>
        <page-perk [perk]="get(primaryRunes,1)" [path]="primaryStyle"></page-perk>
        <page-perk [perk]="get(primaryRunes,2)" [path]="primaryStyle"></page-perk>
        <page-perk [perk]="get(primaryRunes,3)" [path]="primaryStyle"></page-perk>
      </section>
      <section class="path secondary">
        <path-header [path]="secondaryStyle"></path-header>
        <page-perk [perk]="get(secondaryRunes,0)" [path]="secondaryStyle"></page-perk>
        <page-perk [perk]="get(secondaryRunes,1)" [path]="secondaryStyle"></page-perk>
      </section>
    </section>
    <section class="footer">

    </section>
  </div>
  <div class="buttons">
    <button class="btn store" (click)="setOverlayOpen(true)" [disabled]="!lcu.isAvailable() || !lcu.isConnected()" [style.border-color]="getPrimaryColor()" [style.color]="getPrimaryColor()">Save to Client</button>
    <button class="btn return" (click)="resetClicked()" [style.border-color]="getPrimaryColor()" [style.color]="getPrimaryColor()">Back</button>
  </div>
</div>

<div class="overlay" *ngIf="overlayVisible && lcu.isConnected()">
  <div class="inner-overlay">
    <rune-store (closed)="setOverlayOpen(false)" [primaryStyle]="primaryStyle" [secondaryStyle]="secondaryStyle" [primaryRunes]="primaryRunes" [secondaryRunes]="secondaryRunes"></rune-store>
  </div>
</div>
