.section
  height: 20%
  display: flex
  .image
    flex-grow: 0
    flex-shrink: 0
    width: 110px
    position: relative
    display: flex
    justify-content: center
    align-items: center
  .text
    flex-grow: 1

.text
  overflow: hidden
  padding-top: 10px
  h2
    margin: 0
    font-size: larger
  span
    color: white
    font-size: x-small
    overflow: hidden
