<div id="wrapper" class="full-screen">
  <div class="inner-wrapper">
    <div class="intro">
      <h1 class="title">Welcome to Runepicker Helper!</h1>
      <p style="text-align: center">To get started, select your champion and lane below</p>
    </div>
    <div class="selection">
      <div class="selection-part">
        <div class="champion" (click)="toggleChampionSelection()">
          <img class="champ-img" [src]="getChampionImageUrl()">
        </div>
      </div>
      <div class="selection-part">
        <div class="lane">
          <lane-select [disabled]="!champ" (laneChanged)="laneChanged($event)"></lane-select>
        </div>
      </div>
    </div>
    <button class="btn" [disabled]="!champ || !lane" (click)="start()">Find Runepage</button>
  </div>
</div>

<div *ngIf="overlayShown" class="overlay">
  <div class="overlay-inner">
    <champion-list (championChanged)="championChanged($event)"></champion-list>
  </div>
</div>
