$color: #016c8e

#wrapper
  margin-top: -5vw
  display: flex
  justify-content: center
  align-items: center
  .inner-wrapper
    zoom: 95%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    min-height: 300px
    .selection
      display: flex
      .selection-part
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin: 0 7px
      .champion
        border-radius: 50%
        border: 7px solid $color
        width: 150px
        height: 150px
        overflow: hidden
        .champ-img
          width: 100%
.overlay-inner
  width: 80%
  max-width: 786px
  max-height: 80%
  overflow-x: auto
  border: 2px solid $color
  padding: 5px

.btn
  border-color: $color
  color: $color
  &:disabled
    border-color: #5c5b57
    color: #5c5b57
