/* You can add global styles to this file, and also import other style files */
*
  box-sizing: border-box
  color: white

body
  background: url("assets/background.jpg") no-repeat center center fixed
  background-size: cover

.overlay
  z-index: 99
  position: absolute
  background: rgba(black, 0.75)
  display: flex
  justify-content: center
  align-items: center
  left: 0
  right: 0
  top: 0
  bottom: 0

.full-screen
  width: 100vw
  height: 100vh

.btn
  background: #111318
  border: 2px solid #c8aa6e
  color: #c8aa6e
  font-size: large
  padding: 7px 15px
  cursor: pointer
  transition: all ease-in-out 300ms
  &:hover
    &:not(:disabled)
      background: lighten(#111318, 5%)
  &:disabled
    color: gray !important
    border-color: gray !important
    cursor: not-allowed
