#tooltip{
  background: rgba(0,0,0,0.75);
  border: 3px solid #016187;
  padding: 5px;
  display: inline-block;
  position: absolute;
  margin-left: -100px;
}

.lane{
  width: 50px;
  margin: 0 5px;
  cursor: pointer;
  transition: filter ease-in-out 500ms;
  filter: saturate(0.5);
}

.lane:hover{
  filter:saturate(3);
}
